@import "../../styles/variables";

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination__btn {
  border-radius: 3px;
  border: none;
  width: 30px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $hover;
    color: $white;
  }

  &:focus {
    background-color: $blue;
    color: $white;
  }
}
