@import "../../styles/variables";

.select {
  display: flex;
  gap: 25px;
}

.select__btn {
  padding: 5px 30px;
  border-radius: 6px;
  border: none;
  background-color: $bgBlock;
  color: $white;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $hover;
  }

  &:focus {
    background-color: $blue;
  }
}
